code {
  text-wrap: wrap;
}

.sidebar__ {
  width: 280px;
  transform: translateX(-350px);
}

.sidebar__ a,
button {
  display: flex;
  align-items: center;
  gap: 17px;
  width: 100%;
  padding: 14px;
  padding-left: 25px;
}

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.075);
}
